{% extends 'base.html.twig' %}

{% block body %}
	{% for message in app.flashes('exito') %}
		<p class="btn btn-danger pt-2 text-center">{{message}}</p>
	{% endfor %}
	<div class="container">
		<div class="row mb-3">
			<div class="col">
				<button class="btn btn-question">Buscar</button>
			</div>
		</div>
		{% for game in games %}
			<div class="row">
				<div class="col-12">
					<div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
						<div class="q-container p-4">
							<div class="row">
								<div class="col-2 text-center">
									<img src="{{ game.thumbnail }}" width="170" height="160">
								</div>
								<div class="col">
									<h1>
										{{game.title}}
										{# //Como pongo el titulo y el enlace juntos #}
									</h1>
									{# <a>
																																																																																																																																																																																																																																																																																																										href="{{path("showgame, {'id':game.id}")}},
																																																																																																																																																																																																																																																																																																										{{game.title}}</a> #}

									<div class="q-display p-3">
										<p class="pt-4">
											<strong>{{ game.platform }}</strong>
										</p>
									</div>
									<div class="col">
										<button class="btn btn-question m-2">
											<a href="{{ path("showgame",{'id':game.id})}}">Más</a>
										</button>
										<button class="btn btn-question m-2">
											<a href="{{ path("editgame",{'id':game.id})}}">Editar</a>
										</button>
										<button class="btn btn-question m-2">
											<a href="{{ path("editgame",{'id':game.id})}}">BorrarFalta</a>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endblock %}

	{# <a href="{{path("showgame")}}></a> #}
	{# <a href="{{ path("showgame")}}, {{game.title}} ></a> #}
